body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-text: Outfit;

  /* font sizes */
  --sub-header-size: 20px;
  --body-text-size: 18px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --h2-size: 55px;
  --font-size-14xl: 33px;
  --font-size-25xl: 44px;

  /* Colors */
  --color-midnightblue-100: #000235;
  --color-cornflowerblue-100: #8d8dda;
  --color-cornflowerblue-200: rgba(151, 151, 233, 0.44);
  --color-white: #fff;
  --color-orange: #EDAD31;
  --color-blue: #4871FF;
  --color-purple: #C68DDA;
  --color-dark-red: #8D2828;
  --color-green: #64983C;
  --color-yellow: #F2DA5C;


  /* Gaps */
  --gap-10xl: 29px;
  --gap-9xl: 28px;
  --gap-xs: 12px;
  --gap-smi: 13px;
  --gap-3xs: 10px;
  --gap-33xl: 52px;
  --gap-7xl: 26px;
  --gap-6xs: 7px;
  --gap-4xs: 9px;
  --gap-6xl: 25px;
  --gap-31xl: 50px;
  --gap-mini: 15px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-20xl: 39px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-4xs: 9px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-271xl: 290px;
  --padding-5xs: 8px;
  --padding-11xs: 2px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-6xl: 25px;
  --padding-3xs: 10px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-smi: 13px;
  --padding-47xl: 66px;
  --padding-14xl: 33px;
  --padding-8xl: 27px;
  --padding-sm: 14px;
  --padding-lgi-6: 19.6px;

  /* Border radiuses */
  --br-3xs: 10px;
  /* --br-65xl: 85px; */
  --button-br-1: 85px;
  --br-xl: 20px;
}
